.center-to-viewport {
	left: 50%;
	margin: initial;
	position: absolute;
	top: 53%;
	transform: translate(-50%, -50%);
}

#general h2 {
	text-align: center;
	text-transform: uppercase;
}

#general h4 {
	text-align: center;
	font-size: 20px;
}

#general .grid-item > label,
#general .grid-item > input {
	cursor: pointer;
}

#general .fas {
	background-color: var(--logan);
	font-size: 30px;
	padding: 50px;
	color: white;
	border-radius: 50%;
	display: block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#general .fas:hover {
	background-color: var(--papaya);
}

#general input[type="button"] {
	border: none;
	background: none;
	font-weight: bold;
	margin: 10px auto 0 auto;
	text-align: center;
}

#general .grid-wrapper {
	display: flex;
	justify-content: center;
	gap: 50px;
	margin: 20px 0;
}

#create-account,
#revoke-account {
	display: none;
}

hr {
	margin: 50px 0;
}

#change-password-modal .grid-item {
	margin: 0 auto;
}

#change-password-modal .show-passwords-wrapper,
#create-account-modal .show-passwords-wrapper {
	margin-top: 10px;
}

.solo {
	text-align: center;
}

.modal .show-passwords-wrapper > input {
	display: inline-block;
	width: 20px;
}

.modal .show-passwords-wrapper label {
	display: inline;
}

.error {
	font-size: 16px;
	color: var(--tall-poppy);
}

.fa-exclamation-circle {
	margin-right: 5px;
	font-size: inherit;
	cursor: default;
}