h2 {
	margin-bottom: 20px;
}

table {
	border-collapse: collapse;
}

table, tr, td, th {
	border: 1px solid black;
}

th, td {
	padding: 10px;
	text-align: center;
}

th {
	background-color: var(--saffron);
	width: 50%;
	font-size: 20px;
}

tr {
	width: 50%;
}

tr:nth-child(even) th {
	background-color: var(--mustard);
}

tr:nth-child(odd) td {
	background-color: #f2f2f2;
}

td:hover,
tr:nth-child(odd) td:hover {
	background-color: #ddd;
}